In [13]:
import pandas as pd

df = pd.read_csv(r"IncomeData.csv")
primaryData = [
    "REF_DATE",
    "Field of study",
    "Educational qualification",
    "VALUE",
    "Graduate statistics",
    "Age group",
]
df_cleaned = df[primaryData]

df_cleaned = df_cleaned[df_cleaned["Graduate statistics"].str.contains("Median employment income", na=False)]
df_cleaned

,REF_DATE,Field of study,Educational qualification,VALUE,Graduate statistics,Age group
1,2018,"Total, field of study","Career, technical or professional training cer...",36300.0,Median employment income two years after gradu...,15 to 34 years
2,2018,"Total, field of study","Career, technical or professional training cer...",45300.0,Median employment income five years after grad...,15 to 34 years
4,2018,Education [1],"Career, technical or professional training cer...",29800.0,Median employment income two years after gradu...,15 to 34 years
5,2018,Education [1],"Career, technical or professional training cer...",33300.0,Median employment income five years after grad...,15 to 34 years
7,2018,"Visual and performing arts, and communications...","Career, technical or professional training cer...",18100.0,Median employment income two years after gradu...,15 to 34 years
...,...,...,...,...,...,...
191,2018,"Agriculture, natural resources and conservatio...",Doctoral degree,88800.0,Median employment income five years after grad...,15 to 34 years
193,2018,Health and related fields [10],Doctoral degree,79600.0,Median employment income two years after gradu...,15 to 34 years
194,2018,Health and related fields [10],Doctoral degree,94600.0,Median employment income five years after grad...,15 to 34 years
196,2018,Other instructional programs [12],Doctoral degree,74900.0,Median employment income two years after gradu...,15 to 34 years
197,2018,Other instructional programs [12],Doctoral degree,99100.0,Median employment income five years after grad...,15 to 34 years